<div class="card">
  <h5 class="card-header">
    Products
    <a class="btn btn-sm btn-outline-success float-end" href="/admin/products/add" role="button">
      <i class="bi bi-plus-lg"></i> Add Product
    </a>
  </h5>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col" class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each list}}
        <tr class="">
          <td scope="row">{{proid}}</td>
          <td>{{proname}}</td>
          <td>{{catname}}</td>
          <td>{{format_currency price}}</td>
          <td>{{quantity}}</td>
          <td class="text-end">
            <a class="btn btn-sm btn-outline-primary" href="/admin/products/edit?id={{proid}}" role="button">
              <i class="bi bi-pencil-square"></i> Edit
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">Footer</div>
</div>