<div class="card">
  <h5 class="card-header">{{product.proname}}</h5>
  <div class="card-body">
    <img src="/static/imgs/sp/{{product.proid}}/main.jpg" class="mb-3" alt="{{product.proname}}"
      title="{{product.proname}}">
    <h4 class="card-title text-danger">{{format_currency product.price}}</h4>
    <h5 class="card-title">SLg: {{product.quantity}}</h5>
    <p class="card-text">{{{product.fulldes}}}</p>
  </div>
  <div class="card-footer text-muted">Footer</div>
</div>
